.seats-remaining{
  font-weight: 200;
  color: rgb(218, 73, 73);
}

.departure-icon{
  font-size: 30px;
}

.text-padding{
  padding-left: 5px;
}

.flight-icon{
  margin-top: 50px;
  font-size: 9px;
}

.plane-icon{
  margin-top: 48px;
}

.thin-line-hr{
  display: block;
  width: 100%;
  margin-top: 55px;
}

.card-design{
  padding: 20px;
  background-color: rgba(116, 117, 117, 0.342);
  border: solid 1px darkgrey;
  border-radius: 4px;
}