<h5 class="text-md-center m-5">Search for Flights </h5>

<div class="m-5 d-grid gap-3">
  <div class="row">
    <div class="col">
      <div class="form-floating">
        <input placeholder="Departure from" class="form-control"/>
        <label class="text-primary form-label">Departure From</label>
      </div>
    </div>
    <!-- TODO: Change colour scheme, maybe have it more orange like this time? -->

    <div class="col">
      <div class="form-floating">
        <input placeholder="Destination" class="form-control"/>
        <label class="text-primary form-label">Destination</label>
      </div>
    </div>
  </div>

</div>




<div *ngFor="let flight of searchResults">{{flight}}</div>
